In [71]:
import torch
import numpy as np
import torch.nn as nn
import os
import pandas as pd
from torch.autograd import Variable

In [72]:
# a function to load the data
def load_data(path='data'):
    data=os.path.join(path,'Lemonade.csv')
    return pd.read_csv(data)

data=load_data()

In [73]:
data.head(3)

         Date      Day  Temperature  Rainfall  Flyers  Price  Sales
0  01/01/2017   Sunday         27.0      2.00      15    0.3     10
1  02/01/2017   Monday         28.9      1.33      15    0.3     13
2  03/01/2017  Tuesday         34.5      1.33      27    0.3     15

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
Date           365 non-null object
Day            365 non-null object
Temperature    365 non-null float64
Rainfall       365 non-null float64
Flyers         365 non-null int64
Price          365 non-null float64
Sales          365 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 20.0+ KB

In [75]:
# checking for the number of missing values within the data
#from the result the data does not contain missing values
data.isnull().sum()

Date           0
Day            0
Temperature    0
Rainfall       0
Flyers         0
Price          0
Sales          0
dtype: int64

In [76]:
# dropping the date and day column since we do not need them
data.drop(['Date','Day'],axis=1,inplace=True)

In [77]:

data[['Temperature','Rainfall','Flyers','Price','Sales']]=data[['Temperature','Rainfall','Flyers','Price','Sales']].astype('float64')

In [78]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
Temperature    365 non-null float64
Rainfall       365 non-null float64
Flyers         365 non-null float64
Price          365 non-null float64
Sales          365 non-null float64
dtypes: float64(5)
memory usage: 14.3 KB

In [79]:
x_train_data=data.loc[:,['Temperature','Rainfall','Flyers','Price']]
y_train_data=data.loc[:,'Sales']
x_train_data[:3]

   Temperature  Rainfall  Flyers  Price
0         27.0      2.00    15.0    0.3
1         28.9      1.33    15.0    0.3
2         34.5      1.33    27.0    0.3

In [80]:
x_train_data.shape

(365, 4)

In [81]:
#y=torch.Tensor(y_train_data)
#y_train_data=np.array(y_train_data)
x=np.array(x_train_data)
y=np.array(y_train_data)

In [82]:
y=torch.from_numpy(y)
x=torch.from_numpy(x)

In [83]:
x=Variable(x)

In [84]:
y=y.reshape(-1,1)

In [85]:
y.shape

torch.Size([365, 1])

In [86]:
y=Variable(y)

In [87]:
x.shape

torch.Size([365, 4])

In [95]:
class L_regression(nn.Module):
    def __init__(self,n_features):
        super(L_regression,self).__init__()
        #self.linear=nn.Linear(input_dim,output_dim)
        self.linear=nn.Linear(in_features=n_features,out_features=1)
        
    def forward(self,x_in):
        return self.linear(x_in)
        
l_reg=L_regression(n_features=4)
'''
class torch.nn.MSELoss(size_average=True)
Creates a criterion that measures the mean squared error between n elements in the input x and target y:
'''
loss_fu=nn.MSELoss()
#  stochastic gradient descent with a leaning rate (lr) of 0.05
#opt=torch.optim.SGD(l_reg.parameters(),lr=0.01,momentum=0.7)
opt=torch.optim.Adam(l_reg.parameters(),lr=1e-4,weight_decay=1e-5)

In [96]:

for eporch in range(50):
    # predicting y
    y_pred=l_reg(x.float())
    # computing the loss
    loss=loss_fu(y_pred,y.float())
    print('epoch \n',eporch,'\n loss \n',loss.data)
    # Zero gradients, perform a backward pass, and update the weights.
    
    # zero the gradients
    opt.zero_grad()
    #perform backward-propagation
    loss.backward()
    # All optimizers implement a step() method, that updates the parameters. It can be used as:
    #optimizer.step()
    opt.step()

epoch
 0
 loss
 tensor(1817.2639)
epoch
 1
 loss
 tensor(1816.3539)
epoch
 2
 loss
 tensor(1815.4440)
epoch
 3
 loss
 tensor(1814.5344)
epoch
 4
 loss
 tensor(1813.6251)
epoch
 5
 loss
 tensor(1812.7161)
epoch
 6
 loss
 tensor(1811.8073)
epoch
 7
 loss
 tensor(1810.8986)
epoch
 8
 loss
 tensor(1809.9902)
epoch
 9
 loss
 tensor(1809.0822)
epoch
 10
 loss
 tensor(1808.1743)
epoch
 11
 loss
 tensor(1807.2666)
epoch
 12
 loss
 tensor(1806.3594)
epoch
 13
 loss
 tensor(1805.4524)
epoch
 14
 loss
 tensor(1804.5457)
epoch
 15
 loss
 tensor(1803.6392)
epoch
 16
 loss
 tensor(1802.7329)
epoch
 17
 loss
 tensor(1801.8271)
epoch
 18
 loss
 tensor(1800.9216)
epoch
 19
 loss
 tensor(1800.0162)
epoch
 20
 loss
 tensor(1799.1112)
epoch
 21
 loss
 tensor(1798.2065)
epoch
 22
 loss
 tensor(1797.3021)
epoch
 23
 loss
 tensor(1796.3979)
epoch
 24
 loss
 tensor(1795.4941)
epoch
 25
 loss
 tensor(1794.5907)
epoch
 26
 loss
 tensor(1793.6875)
epoch
 27
 loss
 tensor(1792.7845)
epoch
 28
 loss
 tensor(1791.8821)
epoch
 29
 loss
 tensor(1790.9799)
epoch
 30
 loss
 tensor(1790.0779)
epoch
 31
 loss
 tensor(1789.1763)
epoch
 32
 loss
 tensor(1788.2750)
epoch
 33
 loss
 tensor(1787.3739)
epoch
 34
 loss
 tensor(1786.4734)
epoch
 35
 loss
 tensor(1785.5731)
epoch
 36
 loss
 tensor(1784.6730)
epoch
 37
 loss
 tensor(1783.7733)
epoch
 38
 loss
 tensor(1782.8740)
epoch
 39
 loss
 tensor(1781.9749)
epoch
 40
 loss
 tensor(1781.0762)
epoch
 41
 loss
 tensor(1780.1779)
epoch
 42
 loss
 tensor(1779.2798)
epoch
 43
 loss
 tensor(1778.3821)
epoch
 44
 loss
 tensor(1777.4846)
epoch
 45
 loss
 tensor(1776.5876)
epoch
 46
 loss
 tensor(1775.6909)
epoch
 47
 loss
 tensor(1774.7944)
epoch
 48
 loss
 tensor(1773.8984)
epoch
 49
 loss
 tensor(1773.0028)